<div class="card">
  <div class="card-header">
     product_list.html
  </div>

  <div class="card-body">
    <div>
      <div class="mb-3" ng-show="uid">
          <button class="btn btn-success btn-sm" ng-click="createProductForm()">생성</button>  <!--버튼 클릭하면 상태함수 실행-->
      </div>
      <!-- <select ng-model="categoryVal">
        <option ng-repeat="category in categoryList">{{category}}</option>
      </select> -->

      <table class="table table-striped table-bordered">
          <tr>
              <th>상품번호</th>
              <th>상품이름</th>
              <th>카테고리</th>
              <th>등록날짜</th>
              <th>상품가격</th>
              <th>상품활성화</th>
          </tr>
          <tr ng-repeat="product in products" > <!--tr이 repeat됨. boards라는 배열에서 하나씩 객체를 가져옴 -->            
              <td>{{product.productno}}</td>
              <td><a ng-click="read(product.productno)" href="">{{product.pname}}</a></td> <!--click을 했을 때 read라고 하는 상태함수에 번호가 들어가서 실행이 됨. 이것도 컨트롤러에서 만들어야 함-->
              <td>{{product.pcategory}}</td>
              <td>{{product.pregisterdate | date:"yyyy.MM.dd"}}</td>
              <td>{{product.pprice}}</td>
              <td>{{product.penable}}</td>
            
          </tr>
             <tr> <!--여긴 페이저 만드는 것 ng-repeat="product in products | filter: {product.pcategory:getCategoryVal()}" ng-show="product.penable == 1 ? true : false"-->
                <td colspan="6" style="text-align: center;">
                   <button class="btn btn-outline-primary btn-sm" 
                               ng-click="getList(1)">처음</button> <!--처음이란 것은 항상 존재-->
                   <button   class="btn btn-outline-info btn-sm" 
                               ng-show="pager.groupNo>1" 
                               ng-click="getList(pager.startPageNo-1)">이전</button> <!--있을 수도 있고 없을 수도 있음. ng-show -->
                   <button ng-repeat="i in pageRange"
                              class="btn btn-sm {{(pager.pageNo==i)?'btn-danger':'btn-outline-success'}} {{!$last?'mr-1':''}}" 
                               ng-click="getList(i)">{{i}}</button>
                               <!--pageRange라는 배열에서 숫자(i)를 하나 받아서
                                   {{(pager.pageNo==i)?'btn-danger':'btn-outline-success'}}: 현재 페이지의 색을 빨간색으로 그렇지 않다면 outline만 있도록 하기 위해서  
                                   {{!$last?'mr-1':''}} : 마지막페이지라면 마진을 줌
                                   "getList(i)">{{i}}: 클릭하면 해당 페이지로 이동
                                -->
                   <button   class="btn btn-outline-info btn-sm" 
                               ng-show="pager.groupNo < pager.totalGroupNo" 
                               ng-click="getList(pager.endPageNo+1)">다음</button> <!--맨 마지막 그룹이면 다음이 안 나옴-->
                   <button class="btn btn-outline-primary btn-sm" 
                               ng-click="getList(pager.totalPageNo)">맨끝</button> <!--이건 처음과 같이 항상 있어야 함-->
                </td>
             </tr>
      </table>
    </div>
  </div>
</div>